@import "./normalize.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic');
* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    line-height: 1em;
}

.app {
    display: flex;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    line-height: 36px;
    font-size: 33px;
    letter-spacing: -0.33px;
}

.month {
    font-family: Noto Sans;
    font-style: normal;
    line-height: 36px;
    font-size: 33px;
    letter-spacing: -0.33px;
}

.month-current {
    font-weight: bold;
    color: #333333;
}

.month-next {
    font-weight: normal;
    color: #BDBDBD;
}

.btn-close {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.btn-close:before,
.btn-close:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #BDBDBD;
}

.btn-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.place {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.place__city {
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    padding: 0 22px;
    text-decoration: none;
}

.city-isActive {
    font-weight: bold;
    text-decoration-line: underline;
}

.filter {
    width: 100%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    text-align: center;
    line-height: 2em;
    font-size: 18px;
}

.tabs {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: space-between;
    align-content: flex-end;
}

.tab {
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #000000;
}

.js-clicked:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 173px solid black;
}

.calendar>table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ffffff;
    position: relative;
}

td {
    border: 1px solid #E0E0E0;
    min-width: 135px;
}

.weekdays__title {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #000000;
    padding: 7px;
}

.sidebox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin-left: 14.9%;
    width: 42.46%;
    height: 100%;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.js-displayLeft {
    margin-left: -35.1%;
}

.weekday {
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    padding-left: 7px;
    color: #e0e0e0;
}

.workingday {
    color: #000000;
}

.workingday .sidebox_btn{
    border: 2px solid #000000;
    cursor: pointer;
}

.workingday .sidebox_btn>span{
    background: #000000;
}

.weekday__workingHours {
    position: relative;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    margin: 9px 0;
}

.sidebox_btn {
    float: right;
    position: relative;
    top: -24px;
    right: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    padding: 5px 3px;
}

.sidebox_btn:after {
    display: none;
    content: '';
    position: absolute;
    top: 11px;
    left: 23px;
    border-top: 49px solid #ffffff;
    border-left: 23px solid transparent;
    z-index: 2;
}

.sidebox_btn:before {
    display: none;
    content: '';
    position: absolute;
    top: 14px;
    left: 21px;
    border-top: 51px solid rgba(0, 0, 0, 0.03);
    border-left: 25px solid transparent;
    z-index: 1;
}


.sidebox_btn.js-btnLeft:after {
    display: none;
    content: '';
    position: absolute;
    top: 11px;
    left: -25px;
    border-top: 49px solid #ffffff;
    border-right: 23px solid transparent;
    z-index: 2;
    border-left: none;
}

.sidebox_btn.js-btnLeft:before {
    display: none;
    content: '';
    position: absolute;
    top: 14px;
    left: -26px;
    border-top: 51px solid rgba(0, 0, 0, 0.03);
    border-right: 25px solid transparent;
    border-left: none;
    z-index: 1;
}

.sidebox_btn.js-active:after,
.sidebox_btn.js-active:before {
    display: block;
}

.sidebox_btn span {
    display: block;
    width: 13px;
    height: 1px;
    margin-bottom: 3px;
    position: relative;
    background: #E0E0E0;
    border-radius: 3px;
}

.sidebox_btn span:last-child {
    margin-bottom: 0;
}

.sidebox__btn_close {
    margin-top: 11px;
    margin-right: 14px;
    margin-left: auto;
    width: 12px;
    height: 12px;
}